# Puerto en el que se ejecuta la app
PORT=3000
# URL de conexión a MongoDB (remplaza con tus credenciales)
CNX_MONGO=mongodb+srv://<usuario>:<contraseña>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority
# Configuración de la API de Factus
FACTUS_API_URL=https://api-sandbox.factus.com.co
FACTUS_CLIENT_ID=<tu_client_id>
FACTUS_CLIENT_SECRET=<tu_client_secret>
FACTUS_USERNAME=<tu_correo_factus>
FACTUS_PASSWORD=<tu_contraseña_factus>
# CORS permitido
CORS_ORIGIN=*
